@font-face 

{  font-family: Ubuntu-Light ; 
    src: url('font/Ubuntu-Light.ttf') 
    }
    
@font-face 

{  font-family: Ubuntu-Bold ; 
        src: url('font/Ubuntu-Bold.ttf') 
    }

body{
    background: url(img/fond_noir.jpg);
}

h1 {
    text-align: center;
    font-family: "Ubuntu-Bold";
}
p, h2 {
    text-align: left;
    padding-left: 43px;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 10px;
    font-family: "Ubuntu-Light";
}

a{
        color: red;
        text-decoration: none;
}

a:hover {
    color: blue;
}

a:active {
    color: green;
}

#body{
    border-left-width: 2px;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-left: 110px;
    margin-right: 110px;
    padding-bottom: 11px;
    margin-top: 50px;
    background: url(img/fond_or.jpg);
}